@font-face {
  font-family: "MuseoCyrl";
  src: url(../FONTS/MuseoCyrl.ttf);
}
@font-face {
  font-family: "CM_Garden";
  src: url(../FONTS/CMGarden.ttf);
}
@font-face {
  font-family: "Caveat";
  src: url(../FONTS/Caveat.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-image: url(../IMG/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Header */
/* Сделать margin все всего */
header {
  background-color: rgba(184, 190, 189, 0.582);
  padding: 0;
  display: flex;
  margin: 0%;
  justify-content: space-between;
}
header h3 {
  font: 1.5em sans-serif;
  margin: 2% 0 0 3%;
}
.header-item {
  font-family: "MuseoCyrl";
  display: flex;
}
.contact-info {
  padding: 3%;
}
.contact-info p {
  margin: 10%;
  padding: 10%;
}
.container-top-info {
  padding: 0;
}
.container {
  display: flex;
  margin: 0 10%;
}
li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
/* Сделать шрифт меню не закругленным, тк меню прямоугольное! */
/* Левое меню */
.left-menu {
  font-family: "MuseoCyrl";
  background-color: rgba(250, 250, 250, 0.849);
  min-width: 12%;
  height: 100%;
}
.left-menu p {
  text-align: center;
}
.left-menu ul {
  padding: 5% 5% 5% 5%;
  margin: 0 0 5% 0;
}
.left-menu li {
  padding: 10% 0 0 0;
}
.left-menu li:first-child {
  padding: 0;
}

/* Правое меню */
.right-menu {
  font-family: "MuseoCyrl";
  background-color: rgba(250, 250, 250, 0.849);
  min-width: 14%;
  height: 100%;
}
.right-menu p {
  text-align: center;
}
.right-menu ul {
  padding: 5% 5% 5% 5%;
  margin: 0 0 5% 0;
}
.right-menu li {
  padding: 10% 0 0 0;
}
.right-menu li:first-child {
  padding: 0;
}
/* Для всего меню */
.menu-links a {
  text-decoration: none;
  color: black;
}
/* Content */
.info-photo {
  float: left;
  margin-right: 5px;
}

.info {
  /* Указать шрифты */
  font-family: "CM_Garden";
  line-height: 135%;
  font-size: 1.2rem;
  margin-right: 5px;
  text-align: justify;
  margin-left: 5px;
}

.main-info {
  font-family: "MuseoCyrl";
  text-align: center;
}

.div-content {
  background-color: rgba(250, 250, 250, 0.7);
  height: 100%;
}

/* Footer */
.footer_img {
  /* Скрыл картинки для футера в плохом качестве */
  display: none;
}
.footer-info {
  /* justify-content: flex-end;
  text-align: center; */

  /* Сделать грид сетку для подвала */
  background-color: rgba(127, 231, 214, 0.767);
}
